.App {
  text-align: center;
  padding: 30px;
  height: 100vh;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 1em;
  border-radius: 25px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav-links li {
  margin: .6em;
}
.todo-form {
  margin: .3em;
}
.todo {
  background: rgb(236, 234, 234);
  box-shadow: 2px 2px 2px;
  padding: 12px;
  font-size: 30px;
  font-family: "Cabin Sketch", cursive;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 6px;
  border-radius: 9px;
  min-width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.todo-list {
  border-radius: 4px;
  padding: 5px;
  min-width: 300px;
  list-style-type: none;
  text-align: center;
}
footer {
  font-size: 10px;
  border-top: solid thin black;
}
.contact-container{
  padding: 30px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textbox-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-item{
  display: flex;
  margin: 1.5em;
}
.contact-submit-btn{
  margin: 1em;
}
.error-message{
  color: red;
  font-family: "Cabin Sketch";
  font-weight: 500;
  line-height: 1.2;
}
.remove-default-padding{
  padding-inline-start: 0;
}
.btn.btn {
  cursor: default;
}
.doable-header {
  cursor: default;
}