.App {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(38, 161, 114);
  color: white;
  min-height: 50px;
  padding: 1em;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: right;
  list-style: none;
}
.nav-links li {
  margin: .6em;
}
.todo-form {
  margin: .3em;
}
